{% load i18n %}
{% load static %}
<br>
<br>
<br>
<br>
<br>
<br>
<div id="content" class="content main clearfix">
    <div class="row">
        <div class="grid-12">
            {% include 'landing/inc/mission.html' %}


            <div class="component intro-banner w40 white-txt"  data-tracking-name="about Oticon" >
                <div class="component-content">



                    <div class="intro-banner-image"><img src="{% static 'img/about-0.jpg' %}" alt="banner-about-us-life-changing-tech-1920x500-v2" width="1920" height="500" /></div>


                    <div class="intro-banner-content">
                        <div class="outer-pos-wrapper">
                            <div class="inner-pos-wrapper">
                                <div class="intro-banner-text"><h1>{% trans 'About Otex' %}</h1>
                                    <p class="bigger">{% trans 'Our vision is a world where hearing loss is no limitation. ' %}</p>
                                    </div>
                                <div class="intro-banner-link"></div>
                            </div>

                            <div class="sticky-downlink">

                                <a href="#down" class="disc-down"></a>

                            </div>

                        </div>



                    </div>
                </div>
            </div>

            <a id="diversity" class="anchor" data-anchor-text="diversity" ></a>

            <div class="component rich-text " >
                <div class="component-content">

                    <br />
                    <br />
                    <br />
                    <br />
                    <h4 style="text-align: center;">{% trans 'Our Commitment to Diversity &amp; Inclusion' %}</h4>
                    <p style="text-align: center;">{% trans 'Oticon is committed to continuing to foster a workplace environment that is diverse and inclusive. Oticon President Gary Rosenblum recently ' %}
                       {% trans ' on how Oticon and its employees are joining together to take action and influence change.' %}
                    </p>
                    <p style="text-align: center;">
                       {% trans ' Oticon recently made a donation to the AAAF Empowering Students Scholarship Fund to support Black students on their journey to becoming audiologists. ' %}
                    </p>
                    <br />
                    <br />
                    <br />

                </div>
            </div>

            <div class="component text-image-spot lighter-grey-bg tforceheight inoborder iright"  data-tracking-name="FOP 2022 Animation" >
                <div class="component-content">


                    <div class="text-image-spot-image-container">

                        <div class="text-image-spot-image">
                            <img src="{% static 'img/about-1.gif' %}" alt="text-image-spot-fop-main-animation-compress" width="1200" height="630" />

                        </div>
                    </div>

                    <div class="text-image-spot-text-container">
                        <div class="text-image-spot-text"><p>&nbsp;</p>
                            <h2 style="text-align: left;">{% trans 'Oticon Focus on People Awards 2022' %}</h2>
                            <br />
                            <p>{% trans 'Nominate an outstanding person with hearing loss for the 2022 awards&nbsp;program. ' %}</p>
                           </div>


                    </div>


                    <div class="clearfix"></div>


                </div>
            </div>


            <div class="component submenu-point-spot "  data-tracking-name="submenu" >
                <div class="component-content">


                    <a ></a>


                </div>
            </div>
            <div class="component text-image-spot tposmiddle inoborder tforceheight"  data-tracking-name="history" >
                <div class="component-content">


                    <div class="text-image-spot-image-container">

                        <div class="text-image-spot-image">
                            <img src="{% static 'img/about2.png' %}" alt="textimagespot-InsideOticonHomepage-History-1200x788" width="1200" height="788" />

                        </div>
                    </div>

                    <div class="text-image-spot-text-container">
                        <div class="text-image-spot-text"><h1>{% trans 'Otex: A world leader in hearing care since 1904' %}</h1>
                        </div>


                    </div>


                    <div class="clearfix"></div>


                </div>
            </div>

            <div class="component intro-banner pos-top pos-center white-txt w60"  data-tracking-name="located worldwide" >
                <div class="component-content">



                    <div class="intro-banner-image"><img src="{% static 'img/about-4.jpg' %}" alt="Oticon Denmark global headquarters building at night" width="1920" height="900" /></div>


                    <div class="intro-banner-content">
                        <div class="outer-pos-wrapper">
                            <div class="inner-pos-wrapper">
                                <div class="intro-banner-text"><h2 style="text-align: center;"></h2>
                                    <h2 style="text-align: center;">{% trans 'The industry&rsquo;s most advanced center for hearing instrument technology' %}</h2>
                                </div>
                                <div class="intro-banner-link"></div>
                            </div>

                        </div>



                    </div>
                </div>
            </div>

            <div class="component intro-banner pos-right w40"  data-tracking-name="hearing foundation" >
                <div class="component-content">



                    <div class="intro-banner-image">
                        <img src="{% static 'img/about5.jpg' %}" alt="woman helps child through Oticon Hearing Foundation-1920x900" width="1920" height="900" />
                    </div>


                    <div class="intro-banner-content">
                        <div class="outer-pos-wrapper">
                            <div class="inner-pos-wrapper">
                                <div class="intro-banner-text"><h2>{% trans 'Otex Hearing Foundation' %}</h2>
                                    <p>{% trans 'The non-profit Oticon Hearing Foundation aims to foster a &lsquo;community of caring&rsquo; among hearing care professionals that empowers them to bring sustainable&nbsp;hearing care to people in need and communities around the world.' %}</p>
                               </div>
                                <div class="intro-banner-link"></div>
                            </div>

                        </div>



                    </div>
                </div>
            </div>

            <div class="component intro-banner w40 margin4"  data-tracking-name="connected" >
                <div class="component-content">



                    <div class="intro-banner-image"><img src="{% static 'img/about6.jpg' %}" alt="introbanner-InsideOticonHomepage-Connected-1920x900" width="1920" height="900" /></div>


                    <div class="intro-banner-content">
                        <div class="outer-pos-wrapper">
                            <div class="inner-pos-wrapper">
                                <div class="intro-banner-text"><h2>{% trans 'Get updates and the latest information from Otex' %}</h2>
                                    <p><a rel="noopener noreferrer" href="https://www.facebook.com/oticonus/" target="_blank"><img height="35" alt="facebook-small-icon" width="35" src="https://wdh02.azureedge.net/-/media/oticon-us/main/social-media-icons/facebook-small-icon.png?h=35&amp;w=35&amp;la=en&amp;rev=B56F&amp;hash=A9E4B92DF7F4439D10F8B0B78979752B" style="padding-right: 10px; height: 35px; width: 35px;" /></a>
                                        <a rel="noopener noreferrer" href="https://twitter.com/OticonUSA" target="_blank"><img height="35" alt="twitter-small-icon" width="35" src="https://wdh02.azureedge.net/-/media/oticon-us/main/social-media-icons/twitter-small-icon.png?la=en&amp;rev=DB10&amp;hash=21FBB3ADA68020490C4594F6CD66E482" style="padding-right: 10px;" /></a>
                                        <a rel="noopener noreferrer" href="https://www.linkedin.com/company/oticon-inc" target="_blank"><img height="35" alt="linkedin-small-icon" width="35" src="https://wdh02.azureedge.net/-/media/oticon-us/main/social-media-icons/linkedin-small-icon.png?la=en&amp;rev=40B5&amp;hash=2ADD4A6850A923258EDCF7CE64100733" style="padding-right: 10px;" /></a>
                                        <a rel="noopener noreferrer" href="https://www.youtube.com/user/OticonUSA" target="_blank"><img height="35" alt="youtube-small-icon" width="35" src="https://wdh02.azureedge.net/-/media/oticon-us/main/social-media-icons/youtube-small-icon.png?la=en&amp;rev=060C&amp;hash=61D7FCEA1D6A9F534E442F644C7AA12A" style="padding-right: 10px;" /></a>
                                        <a rel="noopener noreferrer" href="https://www.instagram.com/oticonusa/" target="_blank"><img height="35" alt="instagram-small-icon" width="35" src="https://wdh02.azureedge.net/-/media/oticon-us/main/social-media-icons/instagram-small-icon.png?la=en&amp;rev=E721&amp;hash=B4F575A289F74A057A677F4CD3A907FD" /></a></p></div>
                                <div class="intro-banner-link"></div>
                            </div>

                        </div>



                    </div>
                </div>
            </div>
        </div>
    </div>
</div>