{% load i18n %}
{% load static %}
<div id="content" class="content main clearfix">
    <div class="row">
        <div class="grid-12">


            <div class="component intro-banner w60" data-tracking-name="Oticon hearing solutions ">
                <div class="component-content">


                    <div class="intro-banner-image" data-mobile-image="{% static 'img/banner-mobile.jpg' %}"
                         data-mobile-image-height="500" data-mobile-image-width="800"
                         data-mobile-image-alt-text="banner-oticon-more-hand-image-2020-mobile-800x500-v1">
                        <img src="{% static 'img/banner.jpg' %}" alt="banner-oticon-more-hand-image-2020-1920x500-v3"
                             width="1920" height="500"/>
                    </div>


                    <div class="intro-banner-content">
                        <div class="outer-pos-wrapper">
                            <div class="inner-pos-wrapper">
                                <div class="intro-banner-text"><br/>
                                    <br/>
                                    <br/>
                                    <h1 class="banner-text-t">{% trans 'Otex Medical Equipments Trading L.L.C.' %}</h1>
                                    <p class="bigger banner-text-t">{% trans 'Official Distributor of Oticon in UAE' %}</p></div>
                                <div class="intro-banner-link"></div>
                            </div>

                        </div>


                    </div>
                </div>
            </div>

            <div class="component text-image-spot inoborder iposmiddle tposmiddle tforceheight"
                 data-tracking-name="oticon more">
                <div class="component-content">


                    <div class="text-image-spot-image-container">

                        <div class="text-image-spot-image">
                            <img src="{% static 'img/site-3.jpg' %}" alt="award-badges-1200x788-v3" width="1200"
                                 height="788"/>

                        </div>
                    </div>

                    <div class="text-image-spot-text-container">
                        <div class="text-image-spot-text"><br/>
                            <br/>
                            <h2 style="text-align: left;">{% trans 'Otex&nbsp;More&trade;' %}</h2>
                            <h4>{% trans 'More potential than ever' %}</h4>
                            <br/>
                            <p>
                                {% trans 'Oticon Zircon creates a seamless experience to help you enjoy today’s connected world. With Oticon Zircon, you also get a wide range of connectivity options for a high-quality listening experience in everyday situations so you can go through your day with more confidence and convenience.' %}
                                <br/>
                            </p>
                            <br/>
                            <br/></div>


                    </div>


                    <div class="clearfix"></div>


                </div>
            </div>


            <div class="component rich-text lighter-grey-bg">
                <div class="component-content">
                </div>
            </div>

            <div class="component text-image-spot tforceheight iposmiddle tposmiddle inoborder">
                <div class="component-content">


                    <div class="text-image-spot-image-container">

                        <div class="text-image-spot-image">
                            <img src="{% static 'img/site-4.jpg' %}"
                                 alt="text-image-spot-portfolio-1200x788-v3" width="1200" height="788"/>

                        </div>
                    </div>

                    <div class="text-image-spot-text-container">
                        <div class="text-image-spot-text"><h2 style="text-align: left;">{% trans 'New superior technology for everyone' %}</h2>
                            <br/>
                            <p>
                                {% trans 'Introducing Oticon Xceed, the world’s most powerful hearing aid with 146 dB SPL and 87 dB full-on-gain. * Powered by the Velox S™ platform, and featuring BrainHearing™ technology, Oticon Xceed provides more access to speech than ever before for your patients with severe-to-profound hearing loss.' %}
                            <br/>
                            </p>
                        </div>


                    </div>


                    <div class="clearfix"></div>


                </div>
            </div>

            <div class="component intro-banner w40" data-tracking-name="Blood Drive">
                <div class="component-content">


                    <div class="intro-banner-image"
                         data-mobile-image="{% static 'img/site-6.jpg' %}"
                         data-mobile-image-height="300" data-mobile-image-width="1000"
                         data-mobile-image-alt-text="blood-drive-banner-mobile-1000x300">
                        <img src="{% static 'img/site-6.jpg' %}"
                             alt="blood-drive-banner-1920x500" width="1920" height="500"/>
                    </div>


                    <div class="intro-banner-content">
                        <div class="outer-pos-wrapper">
                            <div class="inner-pos-wrapper">
                                <div class="intro-banner-text"><h3><strong>{% trans 'Help make a difference' %}</strong></h3>
                                    <p><br/>
                                       {% trans 'Opn S takes the open sound experience to the next level, offering more flexibility for you and more choices for your patients. Powered by the Velox S™ platform, Opn S allows patients to enjoy speech understanding on par with normal hearing. *' %}
                                    </p></div>
                                <div class="intro-banner-link"></div>
                            </div>

                        </div>


                    </div>
                </div>
            </div>

            <div class="component rich-text dark-bg with-padding">
                <div class="component-content">

                    <h4 style="text-align: center;">
                        <strong>
                            {% trans 'Oticon is committed to diversity and inclusion.' %}
                        </strong>
                    </h4>

                </div>
            </div>

            <a id="fop" class="anchor"></a>

            <div class="component text-image-spot lighter-grey-bg inoborder tforceheight"
                 data-tracking-name="FOP 2022 Animation">
                <div class="component-content">


                    <div class="text-image-spot-image-container">

                        <div class="text-image-spot-image">
                            <img src="{% static 'img/site-7.jpg' %}"
                                 alt="text-image-spot-fop-main-animation-compress"  width="1920" height="500"/>

                        </div>
                    </div>

                    <div class="text-image-spot-text-container">
                        <div class="text-image-spot-text"><p>&nbsp;</p>
                            <h2 style="text-align: left;">{% trans 'Oticon Focus on People Awards 2022' %}</h2>
                            <br/>
                            <p>
                                {% blocktrans %}
                                    Oticon Siya in-the-ear hearing aids capture and amplify the natural, rich details of sounds. They help improve your speech understanding, so you can experience the joy of everyday life.
                                    <br>
                                    <br>
                                    Oticon Siya highlights: <br>
                                    • Superb sound quality <br>
                                    • Easy wireless connectivity* <br>
                                    • Effective noise reduction <br>
                                    • A choice of five discreet styles <br>
                                {% endblocktrans %}

                            </p>
                            <p>&nbsp;</p></div>


                    </div>


                    <div class="clearfix"></div>


                </div>
            </div>

            <div class="component rich-text ">
                <div class="component-content">

                    <br/>

                </div>
            </div>

            <div class="component image-spot with-padding image-spot-image-height-50"
                 data-tracking-name="4 image spot ">
                <div class="component-content">


                    <ul class="image-spot-elements">

                        <li class="image-spot-element">

                            <div class="image-spot-element-image" id="solutions-ha-style">
                                <img src="{% static 'img/feature4.png' %}"
                                     alt="connectivity-382x382-v3" width="382" height="382"/>

                            </div>
                            <div class="image-spot-element-header">

                            </div>
                            <div class="image-spot-element-text">
                                <p>{% trans 'Oticon makes it easy to connect. Stream phone calls, TV and music directly to your hearing aids or connect wirelessly to other devices.' %} </p>
                            </div>
                            <div class="image-spot-element-link">
                                <a href="https://www.oticon.com/solutions/bluetooth-hearing-aids" class="button-corporate-flexible">{% trans 'Connectivity options' %}</a>
                            </div>


                        </li>

                        <li class="image-spot-element">

                            <div class="image-spot-element-image" id="support-ha-style">
                                <img src="{% static 'img/feature3.png' %}"
                                     alt="support382x382" width="382" height="382"/>

                            </div>
                            <div class="image-spot-element-header">

                            </div>
                            <div class="image-spot-element-text">
                                <p>{% trans 'Looking for hearing aid support like how to clean your hearing aids or change your batteries? ' %}</p>
                            </div>
                            <div class="image-spot-element-link">
                                <a href="https://www.oticon.com/support" class="button-corporate-flexible" >{% trans 'Get support' %}</a>
                            </div>


                        </li>

                        <li class="image-spot-element">

                            <div class="image-spot-element-image" id="hearingcenterlocator-ha-style">
                                <img src="{% static 'img/feature2.png' %}"
                                     alt="location-382x382" width="382" height="382"/>

                            </div>
                            <div class="image-spot-element-header">

                            </div>
                            <div class="image-spot-element-text">
                                <p style="text-align: center;">{% trans 'Searching for a hearing care professional near you? ' %}<br/>
                                </p>
                            </div>
                            <div class="image-spot-element-link">
                                <a href="https://www.oticon.com/hearing-center-locator" class="button-corporate-flexible">{% trans 'Find a hearing center' %}</a>
                            </div>


                        </li>

                        <li class="image-spot-element">

                            <div class="image-spot-element-image" id="professionals-ha-style">
                                <img src="{% static 'img/feature1.png' %}"
                                     alt="profesional382x382" width="382" height="382"/>

                            </div>
                            <div class="image-spot-element-header">

                            </div>
                            <div class="image-spot-element-text">
                                <p style="text-align: center;">{% trans 'Are you a hearing care professional? See practice resources, technical product information and more.' %}</p>
                            </div>
                            <div class="image-spot-element-link">
                                <a href="https://www.oticon.com/professionals" class="button-corporate-flexible">{% trans 'For professionals' %}</a>
                            </div>


                        </li>

                    </ul>

                    <div class="clearfix"></div>
                </div>
            </div>

            {% include 'landing/inc/mission.html' %}


        </div>
    </div>
</div>