{% load i18n %}
{% load static %}
<div id="footer" class="footer main clearfix">
    <div class="row">
        <div class="grid-12">
            <!--stopindex-->

            <div class="component three-section-grid no-data-source">
                <div class="component-content">
                    <div class="section-one">

                        <div class="component rich-text-list footer-fix no-data-source"
                             data-tracking-name="Footer Section One">
                            <div class="component-content">
                            </div>
                        </div>
                    </div>
                    <div class="section-two">

                        <div class="component rich-text ">
                            <div class="component-content">
                                <div class="flex-container">
                                    <div>
                                        <p><strong>{% trans 'Get Connected' %}</strong></p>
                                        <p><a rel="noopener noreferrer" rel="noopener noreferrer"
                                              href="https://www.facebook.com/otex.ae" target="_blank"><img
                                                style="padding-right: 5px;" height="40" alt="Facebook" width="40"
                                                src="{%static 'img/fb.png' %}"/></a>
                                            <a rel="noopener noreferrer" rel="noopener noreferrer"
                                               href="https://www.linkedin.com/in/otex-oticon-8008ba8a" target="_blank"><img
                                                    style="padding-right: 5px; height: 40px; width: 40px;" height="40"
                                                    alt="LinkedIn" width="40"
                                                    src="{%static 'img/in.png' %}"/></a>
                                            <a rel="noopener noreferrer" rel="noopener noreferrer"
                                               href="https://otex-alchemisttechme.zohobookings.com/#/customer/otex" target="_blank"><img
                                                    style="padding-right: 5px;" height="40" alt="YouTube" width="40"
                                                    src="{%static 'img/support-footer.png' %}"/></a>
                                            <a rel="noopener noreferrer" rel="noopener noreferrer"
                                               href="https://www.instagram.com/otexhearingsolutions/" target="_blank"><img
                                                    height="40" alt="Instagram" width="40"
                                                    src="{%static 'img/support-bar.png' %}"/></a>
                                        </p>
                                    </div>
                                    <div><a href="{% url 'home' %}"><img alt="oticon_logo_lct_100mm_rgb_neg"
                                                                   src="{% static 'img/logo1.png' %}"
                                                                   class="logo-footer"/></a></div>
                                </div>

                            </div>
                        </div>

                    </div>
                    <div class="section-three">

                        <div class="component rich-text ">
                            <div class="component-content">



                                <p style="direction: ltr!important;text-align: left!important;">Copyright © 2021 Otex. All rights reserved.

                                <span style="float: right" class="copyright-text">Made with <b style="color:#e25555"
                                >❤</b> at
                                        <a href="https://retal.tech">
                                            <img style="margin-bottom: -1px" src="{% static 'img/retal.png' %}" width="70" alt="Retal Logo">
                                        </a>
                                </span>
                                </p>
                            </div>
                        </div>

                    </div>
                </div>
            </div>


            <div class="component cookie-warning ">
                <div class="component-content">


                </div>
            </div>
            <!--startindex-->
        </div>
    </div>
</div>