<div id="footer" class="footer main clearfix">
    <div class="row">
        <div class="grid-12">
            <!--stopindex-->

            <div class="component three-section-grid no-data-source">
                <div class="component-content">
                    <div class="section-one">

                        <div class="component rich-text-list footer-fix no-data-source"
                             data-tracking-name="Footer Section One">
                            <div class="component-content">
                            </div>
                        </div>
                    </div>
                    <div class="section-two">

                        <div class="component rich-text ">
                            <div class="component-content">

                                <div class="flex-container">
                                    <div>
                                        <p><strong>Get Connected</strong></p>
                                        <p><a rel="noopener noreferrer" rel="noopener noreferrer"
                                              href="https://www.facebook.com/OticonUS/" target="_blank"><img
                                                style="padding-right: 5px;" height="40" alt="Facebook" width="40"
                                                src="https://wdh02.azureedge.net/-/media/oticon-us/main/social-media-icons/social-media-facebook.png?la=en&amp;rev=3F30&amp;hash=7EFC393CC24C5F7C6C4A9518621F821A"/></a>
                                            <a rel="noopener noreferrer" rel="noopener noreferrer"
                                               href="https://twitter.com/OticonUSA" target="_blank"><img
                                                    style="padding-right: 5px;" height="40" alt="Twitter" width="40"
                                                    src="https://wdh02.azureedge.net/-/media/oticon-us/main/social-media-icons/social-media-twitter.png?la=en&amp;rev=D14F&amp;hash=A7728B4F1BAAFC169B3FE5DA68FD7146"/></a>
                                            <a rel="noopener noreferrer" rel="noopener noreferrer"
                                               href="https://www.linkedin.com/company/oticon-inc" target="_blank"><img
                                                    style="padding-right: 5px; height: 40px; width: 40px;" height="40"
                                                    alt="LinkedIn" width="40"
                                                    src="https://wdh02.azureedge.net/-/media/oticon-us/main/social-media-icons/social-media-linkedin.png?h=40&amp;w=40&amp;la=en&amp;rev=6BA4&amp;hash=CBA86F5FA5E5D40CEE1EA2C9DBDC8422"/></a>
                                            <a rel="noopener noreferrer" rel="noopener noreferrer"
                                               href="https://www.youtube.com/user/OticonUSA" target="_blank"><img
                                                    style="padding-right: 5px;" height="40" alt="YouTube" width="40"
                                                    src="https://wdh02.azureedge.net/-/media/oticon-us/main/social-media-icons/social-media-youtube.png?la=en&amp;rev=09C4&amp;hash=25CE8685ACB84A2295726741CE797570"/></a>
                                            <a rel="noopener noreferrer" rel="noopener noreferrer"
                                               href="https://www.instagram.com/oticonusa/" target="_blank"><img
                                                    height="40" alt="Instagram" width="40"
                                                    src="https://wdh02.azureedge.net/-/media/oticon-us/main/social-media-icons/social-media-instagram.png?la=en&amp;rev=3963&amp;hash=799A1EB3B8EACD5B0869AE7E00DDE309"/></a>
                                        </p>
                                    </div>
                                    <div><a href="index.html"><img alt="oticon_logo_lct_100mm_rgb_neg"
                                                                   src="https://wdh02.azureedge.net/-/media/oticon-us/shared/oticon_logo_lct_100mm_rgb_neg.svg?la=en&amp;rev=22D0&amp;hash=8B563DE619D01EF5FE9CACEC3C76DDA7"
                                                                   class="logo-footer"/></a></div>
                                </div>

                            </div>
                        </div>

                    </div>
                    <div class="section-three">

                        <div class="component rich-text ">
                            <div class="component-content">

                                <p>&copy; Copyright 2022</p>

                            </div>
                        </div>

                    </div>
                </div>
            </div>


            <div class="component cookie-warning ">
                <div class="component-content">


                </div>
            </div>
            <!--startindex-->
        </div>
    </div>
</div>