<div id="header" class="header main clearfix">
    <div class="row">
        <div class="grid-12">
            

<div class="component link logo-svg-oticon" >
<div class="component-content">

<a href="index.html">Home</a>
</div>
</div>
<div class="component link nav-expander" >
<div class="component-content">


</div>
</div>
<div class="component link-list nav no-data-source" >
<div class="component-content">

<ul>
        <li class="item0 odd first">
            <a title="Your Hearing" href="your-hearing.html">Your Hearing</a>
        </li>
    
        <li class="item1 even">
            <a title="Solutions" href="solutions.html">Solutions</a>
        </li>
    
        <li class="item2 odd">
            <a title="Support" href="support.html">Support</a>
        </li>
    
        <li class="item3 even">
            <a title="Testimonials" href="solutions/more-hearing-aids/reviews.html">Testimonials</a>
        </li>
    
        <li class="item4 odd">
            <a title="Blog" href="blog.html">Blog</a>
        </li>
    
        <li class="item5 even">
            <a title="Inside Oticon" href="inside-oticon.html">Inside Oticon</a>
        </li>
    
        <li class="item6 odd last">
            <a title="Professionals" href="professionals.html">Professionals</a>
        </li>
    </ul>
</div>
</div>
<div class="component search-field-spot no-data-source" data-result-page="/search" data-restricted-chars=""  data-tracking-name="Search Field Spot" >
<div class="component-content">

<div class="search-field">
    <input type="text" value=""/>
    <div class="search-icon"></div>
</div>
</div>
</div>
        </div>
    </div>
</div>