{% load i18n %}
<div class="component rich-text with-padding middle-grey-bg">
    <div class="component-content">

        <div>
            <h3 style="margin: 0in 0in 0.0001pt; text-align: left;"><span><strong>{% trans 'Otex Mission' %}</strong></span>
            </h3>
        </div>
        <p>{% trans 'OTEX guarantees authentic product distribution in United Arab Emirates, being the main distributor and brand carrier of Oticon. We put a lot of efforts in delivering the best to meet the individual requirement of our customers. Our first priority is customer satisfaction and long-lasting relationships. With OTEX, we guarantee a 100% customer satisfaction with assurance of high-quality and authentic product distribution in UAE.' %}</p>
        <p>&nbsp;</p>

    </div>
</div>