{% load i18n %}
{% load static %}
<br>
<br>
<br>
<br>
<br>
<br>
<div id="content" class="content main clearfix">
    <div class="row">
        <div class="grid-12">
            {% include 'landing/inc/mission.html' %}


            <div class="component intro-banner w40 white-txt"  data-tracking-name="about Oticon" >
                <div class="component-content">



                    <div class="intro-banner-image"><img src="{% static 'img/products.jpg' %}" alt="banner-about-us-life-changing-tech-1920x500-v2" width="1920" height="500" /></div>


                    <div class="intro-banner-content">
                        <div class="outer-pos-wrapper">
                            <div class="inner-pos-wrapper">
                                <div class="intro-banner-text"><h1>{% trans 'Otex Products' %}</h1>
                                    <p class="bigger">{% trans 'Otex products are here' %}</p>
                                </div>
                                <div class="intro-banner-link"></div>
                            </div>

                            <div class="sticky-downlink">

                                <a href="#down" class="disc-down"></a>

                            </div>

                        </div>



                    </div>
                </div>
            </div>

            <div class="component download-center top-margin hide-title"   >

                <div class="component-content">



                    <div class="download-center-main">

                        <div class="download-center-main">
                            <div class="download-center-content left">

                                {% for project in projects %}
                                    <h4>{{project.title}}</h4>

                                    <div class="download-pdf">
                                        <a href="{{project.pdf.url}}">
                                            {{project.description}}
                                        </a>
                                    </div>
                                {%endfor%}

                            </div>
                        </div>
                    </div>

                </div>

                <br><br><br>
            </div>
        </div>
    </div>
</div>