{% load static %}
{% load i18n %}
{% get_current_language as CURRENT_LANGUAGE %}

<!DOCTYPE html>
<html class="no-js" lang="en">
<head>
    <title>
        {% block title %}
        {% endblock %}
    </title><meta http-equiv="X-UA-Compatible" content="IE=Edge" /><meta name="viewport" content="width=device-width, initial-scale=1.0" /><meta charset="utf-8" /><meta name="format-detection" content="telephone=no" />
    <link href="{% static 'css/main.css' %}" rel="stylesheet">
     {%if CURRENT_LANGUAGE == "ar" %}
         <link href="{% static 'css/rtl.css' %}" rel="stylesheet">
     {% endif %}
    <link rel="shortcut icon" href="_/media/Oticon%20US/shared/favico/favicon.ico" type="image/x-icon"/>
</head>
<body class=" mode-normal lang-en">


<div id="wrapper" class="wrapper">
    {% block content %}
    {% endblock %}
</div>


<script src="{% static 'js/main.js' %}"></script>
<link type="text/css" rel="stylesheet" href="{% static 'css/style-cf.css' %}"/>
<div style="position:fixed; left:10px; bottom:0; z-index: 999; ">
    <div>
        <p>
                    <a rel="noopener noreferrer" rel="noopener noreferrer"
                    href="https://www.facebook.com/OticonUS/" target="_blank"><img
                    style="padding-right: 5px;" height="40; background-color:red" alt="Facebook" width="40"
                    src="{%static 'img/fb.png' %}"/></a>
                    <br>
                    <a rel="noopener noreferrer" rel="noopener noreferrer"
                    href="https://www.instagram.com/otexhearingsolutions" target="_blank"><img
                    style="padding-right: 5px;" height="40" alt="Twitter" width="40"
                    src="{%static 'img/ig.png' %}"/></a>
                    <br>
                    <a rel="noopener noreferrer" rel="noopener noreferrer"
                    href="https://www.linkedin.com/company/oticon-inc" target="_blank"><img
                    style="padding-right: 5px; height: 40px; width: 40px;" height="40"
                    alt="LinkedIn" width="40"
                    src="{%static 'img/in.png' %}"/></a>
                    <br>
                    <a rel="noopener noreferrer" rel="noopener noreferrer"
                    href="https://otex-alchemisttechme.zohobookings.com/#/customer/otex" target="_blank"><img
                    style="padding-right: 5px;" height="40" alt="YouTube" width="40"
                    src="{%static 'img/support-bar.png' %}"/></a>
        </p>
    </div>
</div>

</body>

</html>
