@font-face {
  font-family: 'oticon-icon-www';
  src:  url('https://d1azc1qln24ryf.cloudfront.net/71294/Oticon-Budicon/oticon-icon-www.eot?wc5w59');
  src:  url('https://d1azc1qln24ryf.cloudfront.net/71294/Oticon-Budicon/oticon-icon-www.eot?wc5w59#iefix') format('embedded-opentype'),
    url('https://d1azc1qln24ryf.cloudfront.net/71294/Oticon-Budicon/oticon-icon-www.woff2?wc5w59') format('woff2'),
    url('https://d1azc1qln24ryf.cloudfront.net/71294/Oticon-Budicon/oticon-icon-www.ttf?wc5w59') format('truetype'),
    url('https://d1azc1qln24ryf.cloudfront.net/71294/Oticon-Budicon/oticon-icon-www.woff?wc5w59') format('woff'),
    url('https://d1azc1qln24ryf.cloudfront.net/71294/Oticon-Budicon/oticon-icon-www.svg?wc5w59#oticon-icon-www') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

.icomoon {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'oticon-icon-www' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  
  /* Enable Ligatures ================ */
  letter-spacing: 0;
  -webkit-font-feature-settings: "liga";
  -moz-font-feature-settings: "liga=1";
  -moz-font-feature-settings: "liga";
  -ms-font-feature-settings: "liga" 1;
  font-feature-settings: "liga";
  -webkit-font-variant-ligatures: discretionary-ligatures;
  font-variant-ligatures: discretionary-ligatures;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-interface-out-link:before {
  content: "\eb13";
  color: #000;
}
.icon-music-eq-a:before {
  content: "\eaba";
  color: #000;
}
.icon-web-warning:before {
  content: "\ebca";
}
.icon-Laughing:before {
  content: "\e91d";
}
.icon-Sad:before {
  content: "\e91e";
}
.icon-Not-Talking:before {
  content: "\e91f";
}
.icon-Smile:before {
  content: "\e920";
}
.icon-Sick:before {
  content: "\e921";
}
.icon-interface-minus:before {
  content: "\eb05";
  color: #000;
}
.icon-interface-plus:before {
  content: "\eb0c";
  color: #000;
}
.icon-com-bell-a:before {
  content: "\e834";
  color: #000;
}
.icon-layout-sidebar-l-half-a:before {
  content: "\eb39";
  color: #000;
}
.icon-web-traffic-b:before {
  content: "\eb6a";
  color: #000;
}
.icon-interface-target:before {
  content: "\eb25";
  color: #000;
}
.icon-budicon-get-direction:before {
  content: "\e91b";
}
.icon-interface-more:before {
  content: "\eb06";
  color: #000;
}
.icon-interface-hamburger:before {
  content: "\eaf4";
  color: #000;
}
.icon-doc-list:before {
  content: "\e881";
  color: #000;
}
.icon-location-map:before {
  content: "\e9b2";
  color: #000;
}
.icon-budicon-video-clip-full:before {
  content: "\e919";
}
.icon-budicon-video-clip-outline:before {
  content: "\e91a";
}
.icon-media-glass:before {
  content: "\e89a";
  color: #000;
}
.icon-media-image-a:before {
  content: "\e89e";
  color: #000;
}
.icon-setting-gear-a:before {
  content: "\e986";
  color: #000;
}
.icon-doc-pie-b:before {
  content: "\e88f";
  color: #000;
}
.icon-doc-compose1:before {
  content: "\e85b";
  color: #000;
}
.icon-budicon-funnel:before {
  content: "\e917";
}
.icon-media-video-a:before {
  content: "\e8a0";
}
.icon-volume-high:before {
  content: "\eaab";
  color: #000;
}
.icon-volume-high-a:before {
  content: "\eaac";
  color: #000;
}
.icon-volume-low:before {
  content: "\eaad";
  color: #000;
}
.icon-volume-low-a:before {
  content: "\eaae";
  color: #000;
}
.icon-volume-medium:before {
  content: "\eaaf";
  color: #000;
}
.icon-volume-medium-a:before {
  content: "\eab0";
  color: #000;
}
.icon-volume-mute:before {
  content: "\eab1";
  color: #000;
}
.icon-volume-mute-a:before {
  content: "\eb5c";
  color: #000;
}
.icon-web-url:before {
  content: "\eb6d";
  color: #000;
}
.icon-doc-file-blank-a:before {
  content: "\e866";
}
.icon-doc-file-line-a:before {
  content: "\e86a";
}
.icon-budidcon-ppt:before {
  content: "\e906";
}
.icon-budidcon-zip:before {
  content: "\e90b";
}
.icon-budidcon-doc:before {
  content: "\e912";
}
.icon-budidcon-excel:before {
  content: "\e913";
}
.icon-budidcon-exe:before {
  content: "\e914";
}
.icon-budidcon-pdf:before {
  content: "\e915";
}
.icon-editorial-pencil:before {
  content: "\e8fe";
}
.icon-editorial-trash-l:before {
  content: "\e8f1";
  color: #000;
}
.icon-com-paperplane:before {
  content: "\e830";
  color: #000;
}
.icon-interface-view:before {
  content: "\eb2e";
  color: #000;
}
.icon-building-museum:before {
  content: "\e90e";
  color: #000;
}
.icon-com-email2:before {
  content: "\e81d";
  color: #000;
}
.icon-Call:before {
  content: "\e908";
}
.icon-media-image-d1:before {
  content: "\e89c";
  color: #000;
}
.icon-budicon-no-image:before {
  content: "\e907";
}
.icon-setting-airplane:before {
  content: "\e971";
  color: #000;
}
.icon-transport-truck:before {
  content: "\e9ef";
  color: #000;
}
.icon-web-internet-a:before {
  content: "\ea40";
  color: #000;
}
.icon-location-compass2:before {
  content: "\e9b1";
  color: #000;
}
.icon-budidcon-hcl-pin-full:before {
  content: "\e916";
}
.icon-location-alt-pin2:before {
  content: "\e9af";
  color: #000;
}
.icon-location-pin-regular2:before {
  content: "\e9ba";
  color: #000;
}
.icon-location-pin-map2:before {
  content: "\e9b6";
  color: #000;
}
.icon-com-help-a:before {
  content: "\e829";
  color: #000;
}
.icon-interface-logout-a:before {
  content: "\eb01";
  color: #000;
}
.icon-web-logout:before {
  content: "\ea41";
  color: #000;
}
.icon-user-lock:before {
  content: "\ea20";
  color: #000;
}
.icon-interface-bottom:before {
  content: "\eac5";
  color: #000;
}
.icon-interface-left:before {
  content: "\eafa";
  color: #000;
}
.icon-interface-right:before {
  content: "\eb14";
  color: #000;
}
.icon-interface-top:before {
  content: "\eb24";
  color: #000;
}
.icon-arrow-down:before {
  content: "\e601";
  color: #000;
}
.icon-arrow-left:before {
  content: "\e602";
  color: #000;
}
.icon-arrow-right:before {
  content: "\e603";
  color: #000;
}
.icon-arrow-up:before {
  content: "\e604";
  color: #000;
}
.icon-basket:before {
  content: "\e600";
  color: #000;
}
.icon-breadcrumb:before {
  content: "\e60c";
  color: #000;
}
.icon-budicon-star-full2:before {
  content: "\e902";
}
.icon-budicon-star-outline2:before {
  content: "\e903";
}
.icon-calendar-big2:before {
  content: "\e803";
}
.icon-cart:before {
  content: "\e60e";
  color: #000;
}
.icon-checked-circle:before {
  content: "\e611";
  color: #000;
}
.icon-checked-doc:before {
  content: "\e615";
  color: #000;
}
.icon-com-bubble:before {
  content: "\e837";
  color: #000;
}
.icon-doc-article-b:before {
  content: "\e841";
  color: #000;
}
.icon-doc-print-a:before {
  content: "\e890";
  color: #000;
}
.icon-document:before {
  content: "\e614";
  color: #000;
}
.icon-ecommerce-shopcart:before {
  content: "\e8c8";
  color: #000;
}
.icon-interface-arrow-bottom:before {
  content: "\eb45";
  color: #000;
}
.icon-interface-arrow-left:before {
  content: "\eb47";
  color: #000;
}
.icon-interface-arrow-right:before {
  content: "\eb4b";
  color: #000;
}
.icon-interface-arrow-top:before {
  content: "\eb4f";
  color: #000;
}
.icon-interface-circle:before {
  content: "\ead6";
  color: #000;
}
.icon-interface-circle-cross:before {
  content: "\ead7";
  color: #000;
}
.icon-interface-circle-minus:before {
  content: "\ead8";
  color: #000;
}
.icon-interface-circle-tick:before {
  content: "\eada";
  color: #000;
}
.icon-interface-circle-tick-full:before {
  content: "\e90f";
}
.icon-budicon-info:before {
  content: "\e900";
}
.icon-budicon-info-full:before {
  content: "\e911";
}
.icon-interface-clock:before {
  content: "\eae0";
  color: #000;
}
.icon-interface-clock-full:before {
  content: "\e910";
}
.icon-circle-plus:before {
  content: "\e612";
  color: #000;
}
.icon-budicon-circle-plus-full:before {
  content: "\e904";
}
.icon-interface-cross:before {
  content: "\eae3";
  color: #000;
}
.icon-interface-reply:before {
  content: "\eb0f";
  color: #000;
}
.icon-interface-reply-full:before {
  content: "\e90a";
}
.icon-interface-search-minus:before {
  content: "\eb1b";
  color: #000;
}
.icon-interface-search-plus:before {
  content: "\eb1c";
  color: #000;
}
.icon-layout-grid:before {
  content: "\eb2f";
  color: #000;
}
.icon-media-video:before {
  content: "\e89f";
  color: #000;
}
.icon-music-play:before {
  content: "\ea96";
  color: #000;
}
.icon-music-repeat:before {
  content: "\ea9e";
  color: #000;
}
.icon-people:before {
  content: "\e610";
  color: #000;
}
.icon-budicon-profile:before {
  content: "\e91c";
}
.icon-user-alt:before {
  content: "\ea0f";
  color: #000;
}
.icon-quote:before {
  content: "\22";
  color: #000;
}
.icon-receipt:before {
  content: "\e60d";
  color: #000;
}
.icon-search:before {
  content: "\e607";
  color: #000;
}
.icon-setting-budicon-gear-a-full:before {
  content: "\e909";
}
.icon-setting-gear-a1:before {
  content: "\e976";
  color: #000;
}
.icon-slideshow:before {
  content: "\e613";
  color: #000;
}
.icon-tick:before {
  content: "\e60b";
  color: #000;
}
.icon-web-download2:before {
  content: "\ea3d";
  color: #000;
}
.icon-ecommerce-creditcard-d:before {
  content: "\e8b3";
  color: #000;
}
.icon-twitter:before {
  content: "\e608";
  color: #000;
}
.icon-facebook:before {
  content: "\e605";
  color: #000;
}
.icon-budicon-google-plus:before {
  content: "\e905";
}
.icon-linkedin:before {
  content: "\e606";
  color: #000;
}
.icon-play:before {
  content: "\e918";
}
.icon-credit-card-alt:before {
  content: "\e90d";
}
.icon-bank:before {
  content: "\e90c";
}
.icon-user-circle-o:before {
  content: "\e901";
}
.icon-play3:before {
  content: "\ea1c";
}
